*{
    margin: 0;
    padding: 0;
}

.group-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: Fira Code;
}

.cards-container{
    display: flex;
    gap: 0.5rem;
}