*{
    margin: 0;
    padding: 0;

    font-family: Fira Code;
}

.group-section{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
}

.section-title{
    text-align: center;
}

.section-title::before{
    content: "";
    width: 200px;
    border-bottom: 2px solid #000;
}