@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
  }
  
  body {
    background: linear-gradient(135deg, #4f0940, #ae48dd, #121212);
    background-size: 1000% 1000%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
  }


  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

img[alt*="000webhost"],
img[alt*="000webhost"][style],
img[src*="000webhost"],
img[src*="000webhost"][style]{
    opacity: 0 !important;
    pointer-events:none !important;
    width: 0px !important;
    height: 0px !important;
    visibility:hidden !important;
    display:none !important;
}