@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background: linear-gradient(135deg, #4f0940, #ae48dd, #121212);
    background-size: 420% 420%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    min-height: 100%;
    background-size: 1000% 1000%;
}

main{
    display: flex;
}

.group-section{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}

@media screen and (max-width: 600px){
    .group-section{
        flex-direction: column;
    }
}

.right-section, .left-section{
    width: 50%;
}

.section-title{
    text-align: center;
    color: white;
}

.main-section{
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
