main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 120px);
}

h2, p{
    color: #FFF;
}

p{
    width: 60%;
    font-size: 1.2rem;
    text-align: justify;
}

.video{
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}