* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: fit-content;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.img-robo {
    width: 80%;
    height: 75%;
}

.container-autores {
    display: flex;
    flex-direction: row;

}

.nome-robo {
    font-weight: 600;
}

.des-robo{
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 15%;
}

.autores-robo{
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    color: white;
    transition: 0.4s ease-out;
}

.card-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    clip-path: circle();
    object-position: 100% 10%;
}

.card-name {
    font-family: Fira Code;
    font-weight: bold;
}

.card-container:hover {
    scale: 1.07;
    cursor: pointer;
}
