/* body{
    background: linear-gradient(to right, #4f0940, #ae48dd);
} */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.robot-gif{
    width: 100px;
}

h2, p{
    color: #FFF;
}

p{
    width: 60%;
    font-size: 1.2rem;
    text-align: justify;
}

.video{
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
