/* body{
    background: linear-gradient(to right, #4f0940, #ae48dd);
} */

body{
        display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.robot-gif{
    width: 150px;
}

h2, p{
    color: #FFF;
}

p{
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
}

.popup-video{
    width: 70%;
    height: 35%;
    aspect-ratio: 16/9;
    display: flex;
}