main {
  width: 95vw;
  height: fit-content;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title{
    font-size: 3.5rem;
    color: #FFF;
  }
  
section li{
    list-style: none;
    padding-left: 3rem;
    color: white;
    margin-left: 5%;
    font-size: 1.7rem;
    margin-bottom: 1%;
    transition: 0.3s ease-out;
}

section li:hover{
  scale: 1.1;
}

.separator{
    background-color: #F2F700;
    width: 30%; /* dps para 80% */
    height: 1px;
}

.title:hover{
    cursor: pointer;
}

li:hover{
    cursor: pointer;
}

ul{
    display: none;
}

ul.view{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

ul.view .separator{
    width: 80%;
}

.animation-container{
    height: 500px;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-tutor{
    height: 60%;
    display: flex;
    padding-left: 5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  .container-tutor section {
    width: 90%;
  }
  .container-tutor section li:hover {
    cursor: pointer;
  }
  .container-tutor section ul {
    display: none;
  }
  .container-tutor section ul.view {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }
  .container-tutor section .separator {
    background-color: #F2F700;
    width: 30%;
    height: 1px;
    transition: all 400ms ease-in-out;
  }
  .container-tutor section .separator.view {
    width: 80%;
  }
  .container-tutor section .title:hover {
    cursor: pointer;
  }