@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    min-height: calc(100vh - 200px);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 60%;
    height: 90%;
}

input{
    outline: none;
    background-color: transparent;
    color: #FFF;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-bottom: 3px solid #FFF;
    text-align: center;
    width: 100%;
    height: 10%;
    min-height: 40px;
}

textarea{
    outline: none;
    background-color: transparent;
    color: #FFF;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-bottom: 3px solid #FFF;
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 20px;
}

button{
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: transparent;
    color: #FFF;
    border: none;
    width: 20%;
    height: 40px;
    cursor: pointer;
}

button::after{
    content: "";
    position: absolute;
    background-color: #FFF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease-out;
}

button:hover::after{
    width: 100%;
}